.skin-blue .main-header .logo:hover {
  background-color: Orange
}
.skin-blue .main-header .logo>a{
  color: white;
  font-weight: bold;
}
.info-box-content p >a {
  text-align: right;
  vertical-align: top;
  position: relative;
  top: -50px;
}